streamlit
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
requests
python-jose[cryptography]
passlib[bcrypt]
pydantic
email-validator
bcrypt==4.0.1
groq
python-multipart
scikit-learn
slowapi
pytest
httpx